
<%- include('partials/_header') %>

<div class="container">
    <!-- FORM -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">Pedidos (<%= pedidos.length %>)</h4>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <a href="/lista" class="btn btn-outline-success">Ver Pedidos</a>
                        </div>
                    </div>
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <div class="row ml-1">
                                <label for="enteras">Enteras </label>
                                <p class="text-primary ml-1" id="pEnteras">(<%= totalEnt %>)</p>
                            </div>
                            <input type="number" name="enteras" id="enteras" class="form-control mb-2">
                            <div class="row ml-1">
                                <label for="enteras">Descremadas </label>
                                <p class="text-success ml-1">(<%= totalDesc %>)</p>
                            </div>
                            <input type="number" name="descremadas" id="descremadas" class="form-control mb-2">
                            <label for="celu">Celular</label>
                            <input type="number" name="celular" id="celular" class="form-control mb-2">
                            <label for="punto_retiro">Punto de Retiro</label>
                            <select name="punto_retiro" id="punto_retiro" class="form-control mb-4">
                                <option value="" disabled selected>Elegí un punto de retiro</option>
                                <% for(var i=0; lugares.length > i; i ++) { %>
                                    <option value="<%= lugares[i].nombre %> "><%= lugares[i].nombre + ' ' + lugares[i].direccion%></option>
                                <% } %>
                            </select>
                            <button type="submit" class="btn btn-outline-success btn-block">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--LISTA-->
</div>

<%- include('partials/_footer') %>