<%- include('partials/_header') %>

<div class="container mt-4">
    <a href="/lista">Volver</a>
    <h1 class="display mt-4">Pedido</h1>
    <form action="/edit/<%= pedido.id %> " method="POST" autocomplete="off">
        <div class="form-group">
    
            <div class="row ml-1">
                <label for="enteras">Enteras </label>
            </div>
            <input type="number" name="enteras" id="enteras" class="form-control mb-2" value=<%= pedido.enteras %>>
    
            <div class="row ml-1">
                <label for="enteras">Descremadas </label>
            </div>
            <input type="number" name="descremadas" id="descremadas" class="form-control mb-2" value=<%= pedido.descremadas %>>
    
            <label for="celu">Celular</label>
            <input type="number" name="celular" id="celular" class="form-control mb-2" value=<%= pedido.celular %>>
    
            <label for="lugar">Punto de Retiro</label>
            <select name="lugar.id" id="lugar" class="form-control mb-4">
                <option value="" disabled selected>Elegí un punto de retiro</option>
                <% for(var i=0; lugares.length > i; i ++) { %>
                    <option value="<%= lugares[i].id %>"<%= (pedido.lugar.id === lugares[i].id) ? 'selected' : ''  %> data-nombre='<%= lugares[i].nombre %>' id="<%= lugares[i].id %>" >
                        <%= lugares[i].nombre + ' ' + lugares[i].direccion%>
                    </option>
                <% } %>
            </select>
            <input type="text" name="lugar.nombre" value="" id="lugarNombre" value="" class="d-none">

            <div class="row">
                <div class="col">
                    <a href="/pedido/delete/<%= pedido.id %>" class="btn btn-outline-danger btn-block">Eliminar</a>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-primary btn-block" id="guardar">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function(){
        var data = $('select option:selected').data();
        $("#lugarNombre").val(data.nombre);
    })
    $('#lugar').change(function(){
        var data = $('select option:selected').data();
        $("#lugarNombre").val(data.nombre);
})
</script>
<%- include('partials/_footer') %>